
.container{
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;

}
.middleContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: white;

}

.middleContainer h2 {
  margin: 0px;
}

.middleContainer h3 {
  font-size: 10px;
  font-weight: 275;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #aba7a7;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plusButton {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: #05a8cc;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0; /* Ensure no extra space is added */
  line-height: 1; /* Adjust line height to center text vertically */
}
.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
}
.closeButton ,
.checkButton,
.searchButton
{
  border-radius: 50%;
  color: white;
  font-size: 24px;
  font-weight: 900;
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
.searchButton {
  background: #0050EB; 
}
.checkButton{
  background: #00BA00; 
}
.closeButton {
  background: red;
}
