@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/FuturaPTBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 62%;
  padding: 20px;
}

.menuItemHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.middleContainer h2 {
  margin: 0px;
}

.middleContainer h3 {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 275;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #aba7a7;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItemTrigger .open {
  border-radius: 43px 43px 0px 0px !important;
}

.menuItemTrigger {
  margin-top: 20px;
  width: 100%;
  border-radius: 43px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
}

.menuItemsShowen {
  background: #D9D9D940;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px 30px;
}

.menuItemsHidden {
  width: 100%;
  display: flex; 
  flex-direction: column;
  /* margin: 17px 0; */
}

.menuItemHeader h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #000000;
  margin: 0px;
}

.menuItemHeader h4 {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 275;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ABA7A7;
  margin: 0px;
}

.menuItemHeader h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItemsWrapper {
  height: 426px;
  overflow: auto;
}

.menuItemWrapperDark {
  background: #D9D9D940;
}

.menuItemWrapper ,.menuItemWrapperDark {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdfIcon {
  font-size: 30px;
  color: red;
  text-align: center;
}

.fileIcon {
  font-size: 34px;
  color: #0A5AC5;
  text-align: center;
}