@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/FuturaPTBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --surface-card : #486e94;
  background-color: #F9FAFB;
}
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
form {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  width: 80%;
  text-align: center;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #D9D9D9;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00B7C9;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}