.newsSection {
  width: 20%;
  height: 90vh;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 40px 40px 0 0;
}
.newsSection h2 {
  margin: 0;
  font-size: 26px;
}
.newsSection h3 {
  margin: 10px 0;
  font-size: 26px;
}
.newsSection h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  border-bottom: 2px solid #c6e2ed;
}
.newsItems{
  height: 60%;
  overflow:auto;
}
.newsItem {
  padding: 5px;
}
.newsItem h4 {
  margin: 5px 0;
  font-size: 18px;
}
.newsItem h1 {
  margin: 5px 0;
  font-size: 14px;
  color: #00b7c9;
  font-weight: 200;
}
.newsItem p {
  font-size: 12px;
  margin: 5px 0;
}
.newsFooter {
  display: flex;
  justify-content: space-between;
}
.qualitieItems {
  display: flex;
  flex-direction: column;
}
.qualitieItemLight,
.qualitieItemDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.coinEuro {
  color: #08841c;
  background-color: #b7f9d5;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
}
.wallet {
  color: #4573e8;
  background-color: #c2d1f5;
  border-radius: 50%;
  overflow: visible;
  padding: 9px;
  width: 31px;
  height: 31px;
}
.invoice {
  color: #ff0000;
  background-color: #ffb4b4;
  border-radius: 50%;
  overflow: visible;
  padding: 9px;
  width: 31px;
  height: 31px;
}

.qualitieItemDark {
  background-color: #d9d9d926;
}
.qualitieItemDetails {
  display: flex;
  flex-direction: column;
}
.qualitieItemTitle {
  color: #cecece;
  font-size: 12px;
}
.qualitieItemPer {
  font-size: 12px;
}
.CardSection {
  display: flex;
  justify-content: space-between;
}
.CardSection button {
  margin: 0;
  background-color: #624d8f;
  padding: 5px;
  color: white;
  border-radius: 30px;
  width: 70px;
  border: 1px solid transparent;
  font-size: 8px;
}
.CardSection h3 {
  margin: 0;
  color: #00b7c9;
  font-size: 26px;
}

#menu_items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#menu_items::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#menu_items::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
