.container {
  display: flex;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
}
.middleContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.middleContainer h2 {
  margin: 0px;
}
.middleContainer h3 {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 275;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #aba7a7;
}
.cardWrappers {
  display: flex;
}
.cardWrapper {
  margin: 30px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.wrapperlogoImage {
  height: 160px;
  width: 100%;
  overflow: hidden;
  background: #b1b1b1;
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardWrapper label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.cardWrapper span {
  color: #0a53c5;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}

.cardWrapper h4 {
  margin: 5px 0;
  font-size: 18px;
}

.detailsCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
}
.visitCard h6:after {
  content: "";
  display: flex;
  height: 4px;
  background: #624d8f;
  width: 80%;
  position: relative;
  bottom: 15px;
  left: 180px;
}
.visitCard h6 {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  text-align: justified;
  color: #00b7c9;
}
.input {
  margin-bottom: 10px;
  padding: 7px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 70%;
  background-color: #e6e6e6;
}
.input::placeholder {
  padding-left: 20px;
}
.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.inputWrapper label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: black;
}
.imagesContainer {
  flex: 1 35%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputContainer {
  flex: 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
.visitCard3 {
  width: 100%;
  height: 76%;
}
.smallImagesContainer {
  display: flex;
  width: 100%;
  height: 22%;
  justify-content: space-between;
}
.book {
  width: 30%;
  height: 100%;
}
.checkWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 21px;
}
.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.headerWrapper h6 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 5px 21px;
  text-align: left;
  width: 100%;
  color: black;
}
.headerWrapper h6:after {
  content: "";
  display: flex;
  height: 4px;
  background: #624d8f;
  width: 87%;
  position: relative;
  bottom: 15px;
  left: 80px;
}
.selectiveVarnish {
  border-radius: 0;
  background: #d9d9d9;
}

/* .footerContainer{
  
} */
.footerContainer p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0;
}
.footerContainer h5,
.footerContainer h4 {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 700;
  margin: 10px;
  color: #00b7c9;
}
.footerContainer h5:after,
.footerContainer h4:after {
  content: "";
  display: flex;
  height: 4px;
  background: #624d8f;
  position: relative;
  bottom: 15px;
}
.footerContainer h5:after {
  width: 72%;
  left: 280px;
}
.footerContainer h4:after {
  width: 68%;
  left: 320px;
}
.questionsWrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #06a4cc;
}
.questionWrapper {
  flex: 1 50%;
}
.question {
  padding: 15px 30px 15px 0;
  font-size: 13px;
}
.question::after {
  content: "";
  display: flex;
  height: 2px;
  background: #624d8f;
  position: relative;
  bottom: -10px;
}

.navbar {
  width: 100%;
  position: relative;
}

.navbarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  font-size: 11px;
  width: auto;
  position: relative;
}
.navbar li:hover {
  color: #2f06e4;
  font-size: 14px;
  font-weight: 900;
}

.navbar li span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust based on the spacing you want */
  width: 0;
  height: 1px;
  background: #2f06e4;
  transition: width 0.3s ease; /* Animation effect for underline */
}

.navbar li span:hover::after {
  width: 100%; /* Expands the underline on hover */
  position: absolute;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-10px);
}

.dropdown.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transform: translateY(0);
}

.blocks_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blocks_by_line_1 .categoriesItem {
  flex: 0 0 100%;
}

.blocks_by_line_2 .categoriesItem {
  flex: 0 0 50%;
}

.blocks_by_line_3 .categoriesItem {
  flex: 0 0 29.33%;
}

.blocks_by_line_4 .categoriesItem {
  flex: 0 0 23%;
}

.blocks_by_line_5 .categoriesItem {
  flex: 0 0 20%;
}

.blocks_by_line_6 .categoriesItem {
  flex: 0 0 15.66%;
}

.blocks_by_line_7 .categoriesItem {
  flex: 0 0 13.28%;
}

.blocks_by_line_8 .categoriesItem {
  flex: 0 0 5.5% !important;
}

.categoriesItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.categoriesItem img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.categoriesItem label {
  text-align: start;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
}

.SubCategory label {
  font-size: 10px;
  font-weight: 300;
}
